body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #343a40;
    color: white;
    padding: 20px;
    text-align: center;
}

.filter-sort-section {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.filter, .sort {
    margin-right: 20px;
}

.products-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product {
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    margin: 10px;
    padding: 15px;
    text-align: center;
    width: 200px;
}

.product h2 {
    font-size: 1.5em;
    margin: 0;
}

.product img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #343a40;
    color: white;
    position: fixed;
    bottom: 0.0;
    width: 100%;
}

.checkout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cart-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#cart-items li {
    margin: 5px 0;
}
